#view-btn {
    display: block;
    margin: 10px auto auto auto;
}

#submitDiv {
  position: relative;
  left:50%;
  margin-left:-100px;
}

.navbar-brand {
    padding: 4px 15px 0 15px;
}

#searchbar {
    margin-right: 2%;
}

.scrollingimagewrapper {
    width:400px;
    height:300px;
    overflow:hidden;
}

.scrollingimage{
    width: inherit;
    height: inherit;
}

.dashboard-img {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 10px;
}

.dashboard-btn {
    margin: 7px 5px;
    padding: 10px 0px;
    width: 90%;
}

.contactDataRight {
    float: left;
    padding-left: 20px;
}

#errorLabel {
    color: red;
    padding-left: 110px;
}

#submitButton {
    margin-left: 110px;
    width: 150px;
    float: left;
}

.image-wrapper {
    margin: 5px;
    overflow: hidden;
    border-radius: 5px;
}

img.homepage {
    height: 200px;
}

.thumbnail {
    height: 420px;
}

.homepageThumbnail {
    width: 200px;
    text-align: center;
    margin: 0px auto auto auto;
}

.homepageDesc {
    height: 140px;
}

.homepageProductTitle {
    margin-top: 10px;
}
