#view-btn {
	display: block;
	margin: 10px auto auto auto;
	width: 90%;
}

#submitDiv {
  position: relative;
  left:50%;
  margin-left:-100px;
}

.navbar-brand {
	padding: 4px 15px 0 15px;
}

#searchbar {
	margin-right: 2%;
}

.dashboard-img {
	width: 100%;
	border-radius: 10px;
}

.dashboard-btn {
	margin: 7px 5px;
	padding: 10px 0px;
	width: 90%;
}