<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
	
<body>
	{% include 'navbar.html' %}

	<div class="container">
		<h1>Dashboard <small>Manage your products</small></h1>

		{% if num_products > 0 %}
			{% for product in products %}
			<hr />
			<div class="well dashboard-product">
				<div class="row">
					<div class="col-sm-4 col-md-2">
						<a href="/product/{{product.id}}"><img src="{{product.image()}}" style="max-width:200px; max-height:200px;" class="dashboard-img"></a>
					</div>
					<div class="col-sm-6 col-md-8">
						<a href="/product/{{product.id}}"><h3 style="margin-top: 0px;">{{product.title}}</h3></a>
						<p><span style="font-weight:bold">Category:</span> {{product.category}}</p>
						<p><span style="font-weight:bold">Price:</span> {{product.price}}</p>
						<p><span style="font-weight:bold">Description:</span> {{ product.desc.split('\n')|join('<br>'|safe) }}</p>
					</div>
					<div class="col-sm-2">
						<div class="row"><a class="dashboard-btn btn btn-primary" href="/product/{{product.id}}">View</a></div>
						<div class="row"><a class="dashboard-btn btn btn-warning" href="/sell/{{product.id}}">Edit</a></div>
						<div class="row"><a class="dashboard-btn btn btn-danger removeButton" id="{{product.id}}">Remove</a></div>
					</div>
				</div>
			</div>
			{% endfor %}
		{% else %}
			<h1><small>You don't have any products on sale now.</small></h1>
		{% endif %}
	</div>

	<script src="/static/js/dashboard.js"></script>
</body>

</html>