<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
	
<body>
	{% include 'navbar.html' %}
	
	<div class="container">
		<div class="row">
			{% for product in products %}
  			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<div class="image-wrapper">
						<img class="homepage" src="{{product.image()}}" alt="...">
					</div>
					<div class="homepageThumbnail homepageDesc">
						<h3 class="homepageProductTitle">{{product.title}}</h3>
						<p>{{product.desc}}</p>
					</div>
					<p><a href="/product/{{product.id}}" class="btn btn-primary homepageThumbnail" role="button" id="view-btn">View</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

	<script src="/static/js/homepage.js"></script>
</body>


</html>