<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">

			<a class="navbar-brand" href="/"> 
				<img src="/static/images/TradeIn2.png" width=158 height = 45> 
				- Internal Marketplace
			</a>
		</div>
		<p class="navbar-text" id="user-notice"></p>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<button id="nav-dashboard" type="button" class="btn btn-default navbar-btn" onclick="clickDashboard()">Dashboard</button>
				<button id="nav-sell" type="button" class="btn btn-default navbar-btn" onclick="clickSell()">Sell</button>

			</ul>
			<form class="navbar-form navbar-right" role="search" id="searchbar" action="" onsubmit="return searchRequest()">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" size="40" id="searchf">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>