<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
	{% include 'navbar.html' %}	
	<div class="container">
		<div align="center">
			<h1> {{ prod.title }} </h1>
		</div>
		<div class="thumbnail">
			<div align="left">

				<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width: 600px; height: 500px">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-example-generic" data-slide-to="1"></li>
						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<div align="center">

								<div style="width:600px;height:500px;overflow:hidden;" >
									<img src="{{ prod.img1 }}" alt="..." width="600" height="500">
								</div>
							</div>
						</div>
						<div class="item">
							<div align="center">

								<div style="width:600px;height:500px;overflow:hidden;" >
									<img src="http://i.imgur.com/RbRXdAv.jpg" alt="..." width="600" height="500">
								</div>
							</div>
						</div>

						<div class="item">
							<div align="center">
								<div style="width:600px;height:500px;overflow:hidden;" >
									<img src="http://upload.wikimedia.org/wikipedia/commons/b/b5/Google_Videos_logo.png" alt="..." width="600" height="500">
								</div>
							</div>
						</div>

					</div>

					<!-- Controls -->
					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
					</a>
				</div>
			</div>
		</div>

		<div class="media-body">
			<h4 id="description"> {{ prod.desc }} <h4>
			</div>
		</div>
	</div>

</raw>

</body>

<script src="/static/js/sell.js"></script>

</html>
