<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}

<body>
	{% include 'navbar.html' %}	
	<div class="container">
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> {{ prod.title|safe }} </h3>
				</div>
				<div class="panel-body">
					Price: {{ prod.price|safe }} <br>
					Category: {{ prod.category|safe }} <br>
					Description: {{ prod.desc|safe }}
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Seller</h3>
				</div>
				<div class="panel-body">
					<a href="{{ user.publicUrl }}">
						<div style="float:left;">
							<img src="{{ user.pictureUrl }}" style="border-radius: 5px;">
						</div>
						<div class="contactDataRight">
							<h4 style="color:black;">{{ user.name }}</h4>
							<h4>{{ user.mail }}</h4>
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="max-width: 400px; height: 300px">
				<!-- Indicators -->
				{% set imagelist = prod.imglist.split(',') %}
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					{% for num in range(1, imagelist|length) %}
					<li data-target="#carousel-example-generic" data-slide-to="{{ num }}"></li>
					{% endfor %}

				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active">
						<div align="center">
							<div class="scrollingimagewrapper">
								<img class="scrollingimage" src="{{ imagelist[0] }}">
							</div>
						</div>
					</div>
					{% for img in imagelist[1:] %}
					<div class="item">
						<div align="center">
							<div class="scrollingimagewrapper">
								<img class="scrollingimage" src="{{ img }}">
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>	
		</div>
	</div>
</body>
</html>
