<!DOCTYPE html>
<html lang="en">

{% include 'header.html' %}
	
<body>
	{% include 'navbar.html' %}
	<div class="container">
		<div class="row">
			<h3>Search Results for "{{query}}":</h3>
		</div>
		<div class="row">
			{% for product in products %}
			<div class="col-sm-6 col-md-3">
				<div class="thumbnail">
					<img src="{{product.img1}}" style="max-width:200px; max-height:300px;" alt="...">
					<div class="caption product">
						<h3>{{product.title}}</h3>
						<p>{{product.desc}}</p>
					</div>
					<p><a href="/product/{{product.id}}" class="btn btn-primary" role="button" id="view-btn">View</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>


	<script src="/static/js/search.js"></script>
</body>

</html>